In [77]:
import json
import re
import pandas
from collections import Counter
from collections import OrderedDict

In [65]:
with open("corpus.json", "r") as f:
    data = json.load(f)
corpus = []
for article in data['data']:
      for paragraph in article['paragraphs']:
           corpus.append(paragraph['context'])
           
          
#corpus = [paragraph["context"] for paragraph in article['paragraphs'] for article in data['data']]
corpus = " ".join(corpus)
len(corpus)

14710572

In [66]:
cleaned_corpus = re.sub(r'[^A-Za-zÀ-ÿ\s]', ' ', corpus).lower()
cleaned_corpus[:1000]

'arquitetonicamente  a escola tem um caráter católico  no topo da cúpula de ouro do edifício principal é uma estátua de ouro da virgem maria  imediatamente em frente ao edifício principal e de frente para ele  é uma estátua de cobre de cristo com os braços erguidos com a lenda  quot venite ad me omnes quot   ao lado do edifício principal é a basílica do sagrado coração  imediatamente atrás da basílica é a gruta  um lugar mariano de oração e reflexão  é uma réplica da gruta em lourdes  na frança  onde a virgem maria supostamente apareceu a santa bernadette soubirous em       no final da unidade principal  e em uma linha direta que liga através de   estátuas e da cúpula de ouro   é um estátua de pedra simples e moderna de maria  como na maioria das outras universidades  os alunos da notre dame dirigem uma série de meios de comunicação  as nove lojas administradas por estudantes incluem três jornais  uma estação de rádio e televisão e várias revistas e periódicos  iniciada como um periódic'

In [67]:
tokenized_corpus = cleaned_corpus.split()

In [68]:
tokenized_corpus[:100]

['arquitetonicamente',
 'a',
 'escola',
 'tem',
 'um',
 'caráter',
 'católico',
 'no',
 'topo',
 'da',
 'cúpula',
 'de',
 'ouro',
 'do',
 'edifício',
 'principal',
 'é',
 'uma',
 'estátua',
 'de',
 'ouro',
 'da',
 'virgem',
 'maria',
 'imediatamente',
 'em',
 'frente',
 'ao',
 'edifício',
 'principal',
 'e',
 'de',
 'frente',
 'para',
 'ele',
 'é',
 'uma',
 'estátua',
 'de',
 'cobre',
 'de',
 'cristo',
 'com',
 'os',
 'braços',
 'erguidos',
 'com',
 'a',
 'lenda',
 'quot',
 'venite',
 'ad',
 'me',
 'omnes',
 'quot',
 'ao',
 'lado',
 'do',
 'edifício',
 'principal',
 'é',
 'a',
 'basílica',
 'do',
 'sagrado',
 'coração',
 'imediatamente',
 'atrás',
 'da',
 'basílica',
 'é',
 'a',
 'gruta',
 'um',
 'lugar',
 'mariano',
 'de',
 'oração',
 'e',
 'reflexão',
 'é',
 'uma',
 'réplica',
 'da',
 'gruta',
 'em',
 'lourdes',
 'na',
 'frança',
 'onde',
 'a',
 'virgem',
 'maria',
 'supostamente',
 'apareceu',
 'a',
 'santa',
 'bernadette',
 'soubirous',
 'em']

In [69]:
len(tokenized_corpus)

2307497

In [91]:
counts = Counter(tokenized_corpus)
words, word_counts = zip(*counts.most_common())
df_builder = {"words": words, "counts": word_counts, 
              "rank": range(1, len(words)+1)}
df = pandas.DataFrame(df_builder)
df

           words  counts   rank
0             de  134765      1
1              a   80233      2
2              e   71414      3
3              o   65293      4
4             em   47792      5
...          ...     ...    ...
89253    arkefly       1  89254
89254       agni       1  89255
89255     cosmic       1  89256
89256  motsumoto       1  89257
89257    empenho       1  89258

[89258 rows x 3 columns]

In [92]:
df["Zipf score"] = df["counts"] * df["rank"]
df

           words  counts   rank  Zipf score
0             de  134765      1      134765
1              a   80233      2      160466
2              e   71414      3      214242
3              o   65293      4      261172
4             em   47792      5      238960
...          ...     ...    ...         ...
89253    arkefly       1  89254       89254
89254       agni       1  89255       89255
89255     cosmic       1  89256       89256
89256  motsumoto       1  89257       89257
89257    empenho       1  89258       89258

[89258 rows x 4 columns]

In [104]:
def calculate_number_of_words_to_read_x_percent_of_text(x):
    if x < 0 or x > 1:
        raise ValueError("X should be between 0 and 1!")
    total_num_of_words_to_know = len(tokenized_corpus)*x
    cur_num_of_words = 0
    num_of_words_to_know = 0
    it = 0
    while total_num_of_words_to_know >= cur_num_of_words:
        cur_num_of_words += df["counts"][it]
        num_of_words_to_know += 1
        it += 1
    return num_of_words_to_know

In [106]:
calculate_number_of_words_to_read_x_percent_of_text(0.5)

190